
    
@{
    
    Layout = "~/Views/UILayout/Index.cshtml";
}


    <script src="script.js"></script>
<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Ürünlerimiz</span>
                <h2 class="mb-2">Öne Çıkan Ürün ve Hizmetlerimiz</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-car owl-carousel">
                    <div class="item">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end" style="background-image: url(/BozMetalUpTemlate/images/car-1.jpeg);"></div>
                            <div class="text">
                                <h2 class="mb-0"><a href="/Galeri/firingaleri">Seramik Pişirme Fırını</a></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat">Fırın</span>
                                </div>
                                <a href="/Galeri/firingaleri" class="btn btn-secondary py-2 ml-1">Detaylar</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end" style="background-image: url(/BozMetalUpTemlate/images/car-2.jpeg);"></div>
                            <div class="text">
                                <h2 class="mb-0"><a href="/Galeri/sundurmagaleri">Giriş Sundurma</a></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat">Sundurma</span>
                                </div>
                                <a href="/Galeri/sundurmagaleri" class="btn btn-secondary py-2 ml-1">Detaylar</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end" style="background-image: url(/BozMetalUpTemlate/images/car-3.jpeg);"></div>
                            <div class="text">
                                <h2 class="mb-0"><a href="/Galeri/kapigaleri">Görsel Kapı</a></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat">Kapı</span>
                                </div>
                                <a href="/Galeri/kapigaleri" class="btn btn-secondary py-2 ml-1">Detaylar</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end" style="background-image: url(/BozMetalUpTemlate/images/galeri/korkuluk-13.jpeg);"></div>
                            <div class="text">
                                <h2 class="mb-0"><a href="/Galeri/korkulukgaleri">Güvenlik Korkulukları</a></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat">Korkuluk</span>
                                </div>
                                <a href="/Galeri/korkulukgaleri" class="btn btn-secondary py-2 ml-1">Detaylar</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end" style="background-image: url(/BozMetalUpTemlate/images/car-4.jpeg);"></div>
                            <div class="text">
                                <h2 class="mb-0"><a href="Galeri/merdivengaleri">Yangın Merdiveni</a></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat">Merdiven</span>
                                </div>
                                <a href="/Galeri/merdivengaleri" class="btn btn-secondary py-2 ml-1">Detaylar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-about">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/BozMetalUpTemlate/images/about.jpg);"></div>
            <div class="col-md-6 wrap-about ftco-animate">
                <div class="heading-section heading-section-white pl-md-5">
                    <span class="subheading">Hakkımızda</span>
                    <h2 class="mb-4">Biz Kimiz?</h2>
                    <p>
                        Bozmetal Ailesi

                        Biz Kimiz? Bozmetal, metal endüstrisinde öncü bir şirkettir. 20 yılı aşkın süredir müşterilerimize kaliteli metal ürünleri ve çözümleri
                        sunmaktayız. Müşteri memnuniyetini ön planda tutarak, yenilikçi yaklaşımlarımızla sektörde fark yaratıyoruz. Misyonumuz Müşterilerimize en üst
                        düzeyde hizmet sunarak, güvenilir ve kaliteli metal ürünleri sağlamak; sürekli iyileştirme ve yenilikçilik ile sektörde öncü olmak. Vizyonumuz
                        Geleceğin metal ihtiyaçlarını şimdiden şekillendirerek, sürdürülebilirlik ve teknolojiye dayalı çözümler üretmek. Değerlerimiz Müşteri Memnuniyeti
                        Kalite İnovasyon Güvenilirlik Bozmetal olarak, her zaman en iyisini sunmak için çalışıyor ve sektördeki liderliğimizi sürdürmeye kararlıyız.
                    </p>
                    <p>Siz de kaliteli ve dayanıklı ürünlerimizle tanışın ve BOZMETAL farkını yaşayın.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-counter ftco-section img bg-light" id="section-counter">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="20">0</strong>
                        <span>Yıllık<br>Tecrübe</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="1500">0</strong>
                        <span>Bitirilen <br>İş Sayısı</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="2590">0</strong>
                        <span>Mutlu <br>Müşterilerimiz</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
