<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	<div class="container">
		<link rel="icon" href="~/Bozmetaluptemlate/images/bozmetal-logo.jpeg" type="image/jpeg">
		<a class="navbar-brand" href="/Home/Index">
			<img src="~/Bozmetaluptemlate/images/bozmetal-logo.jpeg" alt="Bozmetal Logo" style="height: 40px; width: auto; display: inline-block; vertical-align: middle; margin-right: 10px;">
			BOZMETAL
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> MENÜ
		</button>

		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a href="/Home/Index" class="nav-link">ANASAYFA</a></li>
				<li class="nav-item"><a href="/About/Index" class="nav-link">HAKKIMIZDA</a></li>
				<li class="nav-item"><a href="/Galeri/Index" class="nav-link">GALERİ</a></li>
				<li class="nav-item"><a href="/Services/Index" class="nav-link">HİZMETLERİMİZ</a></li>
				<li class="nav-item"><a href="/Contact/Index" class="nav-link">İLETİŞİM</a></li>
			</ul>
		</div>
	</div>
</nav>
