<section class="ftco-section ftco-about content">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/BozMetalUpTemlate/images/about.jpg);">
                </div>
                <div class="col-md-6 wrap-about ftco-animate">
                    <div class="heading-section heading-section-white pl-md-5">
                        <span class="subheading">Hakkımızda</span>
                        <h2 class="mb-4">Bozmetal'e Hoşgeldiniz!</h2>

                        <p>Bozmetal Ailesi </p>
                        <p>
                            Biz Kimiz?

                            Bozmetal, metal endüstrisinde öncü bir şirkettir. 20 yılı aşkın süredir müşterilerimize kaliteli metal ürünleri ve çözümleri sunmaktayız. Müşteri memnuniyetini ön planda tutarak, yenilikçi yaklaşımlarımızla sektörde fark yaratıyoruz.

                            Misyonumuz

                            Müşterilerimize en üst düzeyde hizmet sunarak, güvenilir ve kaliteli metal ürünleri sağlamak; sürekli iyileştirme ve yenilikçilik ile sektörde öncü olmak.

                            Vizyonumuz

                            Geleceğin metal ihtiyaçlarını şimdiden şekillendirerek, sürdürülebilirlik ve teknolojiye dayalı çözümler üretmek.

                            Değerlerimiz

                            Müşteri Memnuniyeti
                            Kalite
                            İnovasyon
                            Güvenilirlik
                            Bozmetal olarak, her zaman en iyisini sunmak için çalışıyor ve sektördeki liderliğimizi sürdürmeye kararlıyız.
                        </p>
                    </div>
                </div>
            </div>
        </div>
 </section>


