
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lightbox Gallery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
</head>
<body>
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Galeri</h2>
                <h3 class="text-center">Bina İç ve Dışa Gösterdiğimiz Özeni ve Kaliteli İşçiliği Paylaşıyoruz</h3>
            </div>
            <div class="row photos">
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/sundurma-1.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/sundurma-1.jpeg" alt="Sundurma">
                    </a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/sundurma-2.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/sundurma-2.jpeg" alt="Sundurma">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/sundurma-3.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/sundurma-3.jpeg" alt="Sundurma">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/sundurma-4.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/sundurma-4.jpeg" alt="Sundurma">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/sundurma-5.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/sundurma-5.jpeg" alt="Sundurma">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/sundurma-6.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/sundurma-6.jpeg" alt="Sundurma">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/sundurma-7.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/sundurma-7.jpeg" alt="Sundurma">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/sundurma-8.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/sundurma-8.jpeg" alt="Sundurma">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/sundurma-9.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/sundurma-9.jpeg" alt="Sundurma">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/sundurma-10.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/sundurma-10.jpeg" alt="Sundurma">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/sundurma-11.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/sundurma-11.jpeg" alt="Sundurma">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/sundurma-12.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/sundurma-12.jpeg" alt="Sundurma">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/sundurma-13.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/sundurma-13.jpeg" alt="Sundurma">
                    </a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/pisirmefirini-1.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/pisirmefirini-1.jpeg" alt="Seramik Pişirme Fırını">
                    </a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/pisirmefirini-2.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/pisirmefirini-2.jpeg" alt="Seramik Pişirme Fırını">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/pisirmefirini-3.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/pisirmefirini-3.jpeg" alt="Seramik Pişirme Fırını">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/pisirmefirini-4.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/pisirmefirini-4.jpeg" alt="Seramik Pişirme Fırını">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/pisirmefirini-5.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/pisirmefirini-5.jpeg" alt="Seramik Pişirme Fırını">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/pisirmefirini-6.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/pisirmefirini-6.jpeg" alt="Seramik Pişirme Fırını">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/pisirmefirini-7.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/pisirmefirini-7.jpeg" alt="Seramik Pişirme Fırını">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/pisirmefirini-8.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/pisirmefirini-8.jpeg" alt="Seramik Pişirme Fırını">
                    </a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/bahcekapi-1.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/bahcekapi-1.jpeg" alt="Bahçe Kapısı">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/bahcekapi-2.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/bahcekapi-2.jpeg" alt="Bahçe Kapısı">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/bahcekapi-3.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/bahcekapi-3.jpeg" alt="Bahçe Kapısı">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/gorselkapi-1.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/gorselkapi-1.jpeg" alt="Görsel Kapı">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/gorselkapi-2.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/gorselkapi-2.jpeg" alt="Görsel Kapı">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/gorselkapi-3.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/gorselkapi-3.jpeg" alt="Görsel Kapı">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/gorselkapi-4.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/gorselkapi-4.jpeg" alt="Görsel Kapı">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/gorselkapi-5.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/gorselkapi-5.jpeg" alt="Görsel Kapı">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/gorselkapi-6.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/gorselkapi-6.jpeg" alt="Görsel Kapı">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/gorselkapi-7.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/gorselkapi-7.jpeg" alt="Görsel Kapı">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/bahcekapi-1.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/bahcekapi-1.jpeg" alt="Bahçe Kapısı">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/bahcekapi-2.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/bahcekapi-2.jpeg" alt="Bahçe Kapısı">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/bahcekapi-3.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/bahcekapi-3.jpeg" alt="Bahçe Kapısı">
                    </a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-1.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-1.jpeg" alt="Korkuluk">
                    </a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-2.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-2.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-3.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-3.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-4.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-4.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-5.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-5.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-6.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-6.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-7.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-7.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-8.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-8.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-9.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-9.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-10.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-10.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-11.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-11.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-12.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-12.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-13.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-13.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-14.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-14.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-15.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-15.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-16.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-16.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-17.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-17.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-18.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-18.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-19.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-19.jpeg" alt="Korkuluk">
                    </a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/ozel-1.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/ozel-1.jpeg" alt="Bahçe Mobilyası">
                    </a>
                </div>


                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/ozel-2.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/ozel-2.jpeg" alt="Bina Dışı Hizmet">
                    </a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/ozel-3.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/ozel-3.jpeg" alt="İç Merviven">
                    </a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/ozel-4.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/ozel-4.jpeg" alt="İç Mobilya">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/ozel-5.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/ozel-5.jpeg" alt="Izgara">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/ozel-6.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/ozel-6.jpeg" alt="Bahçe Mobilyası">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/ozel-7.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/ozel-7.jpeg" alt="Fason Kaynak">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/ozel-8.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/ozel-8.jpeg" alt="Çelik Konstrüksiyon">
                    </a>
                </div>



                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/yanginmerdiven-1.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/yanginmerdiven-1.jpeg" alt="Yangın Merdiveni">
                    </a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/yanginmerdiven-2.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/yanginmerdiven-2.jpeg" alt="Yangın Merdiveni">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/yanginmerdiven-3.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/yanginmerdiven-3.jpeg" alt="Yangın Merdiveni">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/yanginmerdiven-4.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/yanginmerdiven-4.jpeg" alt="Yangın Merdiveni">
                    </a>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>
</html>
