
@{
    ViewData["Title"] = "korkulukgaleri";
    Layout = "~/Views/UILayout/Index.cshtml";
}


<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lightbox Gallery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
</head>
<body>
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Güvenlik Korkulukları</h2>
                <h3 class="text-center">Üstün Kalite ve İşçilik ile Güvenliğinizi Sağlıyoruz.</h3>
            </div>
            <div class="row photos">
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-1.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-1.jpeg" alt="Korkuluk">
                    </a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-2.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-2.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-3.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-3.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-4.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-4.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-5.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-5.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-6.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-6.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-7.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-7.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-8.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-8.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-9.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-9.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-10.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-10.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-11.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-11.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-12.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-12.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-13.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-13.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-14.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-14.jpeg" alt="Korkuluk">
                    </a>
                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-15.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-15.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-16.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-16.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-17.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-17.jpeg" alt="Korkuluk">
                    </a>
                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-18.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-18.jpeg" alt="Korkuluk">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/korkuluk-19.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/korkuluk-19.jpeg" alt="Korkuluk">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>
</html>
