
@{
    ViewData["Title"] = "merdivengaleri";
    Layout = "~/Views/UILayout/Index.cshtml";
}


<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lightbox Gallery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
</head>
<body>
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Yangın Merdivenlerimiz</h2>
                <h3 class="text-center">Bina Dışı Hizmetlerimizle Güvenliği Artırıyoruz</h3>
            </div>
            <div class="row photos">
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/yanginmerdiven-1.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/yanginmerdiven-1.jpeg" alt="Yangın Merdiveni">
                    </a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/yanginmerdiven-2.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/yanginmerdiven-2.jpeg" alt="Yangın Merdiveni">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/yanginmerdiven-3.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/yanginmerdiven-3.jpeg" alt="Yangın Merdiveni">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item">
                    <a href="/BozMetalUpTemlate/images/galeri/yanginmerdiven-4.jpeg" data-lightbox="photos">
                        <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/yanginmerdiven-4.jpeg" alt="Yangın Merdiveni">
                    </a>
                </div>
                </div>
        </div>
    </div>
                <div class="photo-gallery">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center">Ev İçinde Merviven</h2>
                            <h3 class="text-center">Evinizin İçindeki Alanlar İçin Görsel bir Merdiven</h3>
                        </div>
                        <div class="row photos">
                            <div class="col-sm-6 col-md-4 col-lg-3 item">
                                <a href="/BozMetalUpTemlate/images/galeri/ozel-3.jpeg" data-lightbox="photos">
                                    <img class="img-fluid" src="/BozMetalUpTemlate/images/galeri/ozel-3.jpeg" alt="Ev İçi Merdiven">
                                </a>
                            </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>
</html>
